# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Brandon 2\Documents\Projects\GLFWCMakeTemplate\.idea/dataSources/
/dataSources.local.xml
